/* General Styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --main-color:#f5b041;
    --second-color:#0c6fd3;
    background: linear-gradient(#7e913d,rgba(72, 25, 110, 0.333), #302596);
}
section{
    padding: 100px;
}
/*home CSS*/
#home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*nav bar*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.5s;
}
.logo{
    text-transform: uppercase;
    font-size: 1.4rem;
    color: var(--second-color);
    font-weight: 700;
}
ul{
    display: flex;
}
ul li a{
    padding: 10px 22px;
    color: var(--second-color);
    border-radius: 2px;
    font-weight: 600;
    letter-spacing: 1px;
}
ul li a:hover{
    background: var(--main-color);
    color: #fff;
    border: none;
}
.home-text h1{
    color: var(--second-color);
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    line-height: 5.5rem;
}
.home-text span{
    color: var(--main-color);
}
.home-img{
    width: 400px;
    height: 400px;
    
}
.home-img img{
    border-radius: 400%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
/*hire me button*/
.home.text a{
    padding:12px 34px;
    background:var(--main-color);
    color: #440303;
    border-radius: 100px;
    font-weight: 600;
    letter-spacing: 10px;
}
.home-text a:hover{
    background: var(--main-color);
    box-shadow: 0 10px 34px rgba(7, 10, 153, 0.14);
}
/*social*/
.social{
    position: absolute;
    display: flex;
    bottom: 8%;
    right: 200px;
}
.social i{
    margin-right: 24px;
    font-size: 24px;
    color: var(--second-color);
}
.social i.hover{
    color: var(--main-color);

}
/*heading*/
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading h2{
    color: var(--second-color);
    border-bottom: 3px solid var(--second-color);
    font-size: 1.8rem;
}
.heading p{
    color: var(--second-color);
    margin-top: 0.5rem;
}
.project-content{
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.box img{
    height: 80%;
    width:80%;
    background-image: url('web.jpg');  /* Path to your image */
    background-size: cover;  /* This ensures the image covers the box */
    background-position: center;  /* Center the image */
    background-repeat: no-repeat;  /* Prevent repeating */
}
.project-content .box{
    padding: 40px 20px;
    color:black;
    max-width: 320px;
    text-align: center;
}


.box h1{
    font-size: 1.3rem;

}
.project-content .box:hover{
    transform: translate(-10px);
    background: var(--main-color);
    transition: 0.5s;
}
.heading .color h2{
    color: #fff;
    border-bottom: 3px solid #fff;
    font-size: 1.8rem;
}
.color p{
    color: #fff;
}
#contact{
    background: var(--second-color);
}
.contact-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact-form{
    width: 360px;
    margin-top: 4rem;

}
.contact-form form input, 
.contact-form form textarea{
    width: 100%;
    font-size: 13px;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    margin-bottom: 12px;
}
.contact-form form input::placeholder, 
.contact-form form textarea::placeholder{
    color: var(--second-color);
    letter-spacing: 1px;
}
.contact-form form textarea{
    resize: none;
    height: 200px;

}
.contact-button{
    max-width: 100px;
    font-weight: 600;
    background: var(--main-color);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}
@media (max-width:991px){
    nav{
        padding: 10px 50px;
        z-index: 1000;
    }
    .menu{
        position: fixed;
        top: 60px;
        right: 100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: var(--second-color);
        transition: 0.5s ease;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);

    }
    .menu.active{
        font-size: 35px;
        line-height: 80px;
        color: #fff;
    }
    .toggle{
        width: 40px;
        height: 40px;
        background: url(image/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active{
        background: url(image/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
}

